{% extends 'base.html' %}

{% block content %}
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

	<style>
		fieldset.scheduler-border {
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
		}

		legend.scheduler-border {
		font-size: 1.2em !important;
		font-weight: bold !important;
		text-align: left !important;
		width:auto;
		padding:0 10px;
		border-bottom:none;
		}
	</style>

	<!-- MAIN -->
	<div class="container mt-3">
		<h3 class="mb-3 text-center">Manajemen Akun ({{title}})</h3>

		<form method="POST">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Tambah Akun</legend>
				<div class="container">
					<div class="contol-group">
						<div class="row">
							<div class="form-group form-inline">
								<label for="tambahAkun">Nama Akun :</label>
								<input name="namaAkun" id="tambahAkun" class="form-control form-control-sm ml-3" type="text" required>
							</div>
						</div>
						<div class="row">
							<div class="form-inline">
								<label for="linkInput">Link Socialblade :</label>
								<input name="linkInput" id="linkInput" class="form-control form-control-sm ml-3" type="url" placeholder="https://socialblade.com/..." pattern="https://socialblade.com/.*" required>
								<button name="tambahAkun" type="submit" class="btn btn-sm btn-primary ml-3">Tambah Akun</button>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>

		<form method="POST">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Filter</legend>
				<div class="container">

					<div class="control-group">
						<div class="row">
							<div class="form-group form-inline">
								<label for="datepicker1">Tanggal Createdate :</label>
								<input name="tanggal1" class="form-control form-control-sm ml-3" id="datepicker1" placeholder="DD/MM/YY"
									autocomplete="off"
									required value="{{tanggal1}}" />
								<script>
									$('#datepicker1').datepicker({
										uiLibrary: 'bootstrap4',
										format: 'dd/mm/yyyy'
									});
								</script>

								<label class="ml-3" for="datepicker2"> s/d </label>
								<input name="tanggal2" class="form-control form-control-sm ml-3" id="datepicker2" placeholder="DD/MM/YY"
									autocomplete="off"
									required value="{{tanggal2}}" />
								<script>
									$('#datepicker2').datepicker({
										uiLibrary: 'bootstrap4',
										format: 'dd/mm/yyyy'
									});
								</script>

								<button name="filter" type="submit" class="btn btn-sm btn-primary ml-3">Terapkan</button>
							</div>
						</div>
					</div>

				</div>
			</fieldset>
		</form>
		
		{% if names %}
		<table id="accountTable" class="table table-sm table-striped table-bordered">
			<thead>
				<th scope="col">Username</th>
				<th scope="col">Createdate</th>
				<th scope="col">Action</th>
			</thead>
			<tbody>
				{% for i in range(names|length) %}
				
				{% if dates[i] == None %}
				{% else %}
				<tr>
					<td>{{names[i]}}</td>
					<td>{{dates[i]}}</td>
					<td>
						<button name="ubah" type="submit" class="btn btn-sm btn-outline-primary">Ubah</button>
						<button name="hapus" type="submit" class="btn btn-sm btn-outline-primary ml-1">Hapus</button>
					</td>
				</tr>
				{% endif %}
					
				{% endfor %}
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#accountTable').DataTable({
					"bInfo": false
				});
			});
		</script>
		{% endif %}
			
	</div>

	<script>
		{% if request.args.get('alert', '') == 'account_exists' %}
		Swal.fire({
		icon: 'error',
		title: 'Akun sudah ada',
		})
		{% endif %}

		{% if request.args.get('alert', '') == 'add_success' %}
		Swal.fire({
		icon: 'success',
		title: 'Akun berhasil ditambahkan!',
		})
		{% endif %}
	</script>

{% endblock content %}
    