{% extends 'base.html' %}

{% block content %}
	<style>
		fieldset.scheduler-border {
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
		}

		legend.scheduler-border {
		font-size: 1.2em !important;
		font-weight: bold !important;
		text-align: left !important;
		width:auto;
		padding:0 10px;
		border-bottom:none;
		}

	</style>

	<!-- MAIN -->
	<div class="container mt-3">
		<h3 class="mb-3 text-center">Manajemen User</h3>

		<form method="POST">
			<div class="container">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Filter</legend>
				<div class="container">
					<button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#registerUser">
						Tambah
					</button>
					<div class="control-group">
						<div class="row">
							<div class="form-group form-inline">
								<label for="selectAkun">Nama User : </label>
								<input class="form-control form-control-sm ml-3" id="selectAkun" type="text">
							</div>
						</div>
					</div>

					<div class="control-group">
						<div class="row">
							<div class="form-group form-inline">
								<label for="selectAkun">Email : </label>
								<input class="form-control form-control-sm ml-3" id="selectAkun" type="text">
							</div>
						</div>
					</div>

					<div class="control-group">
						<div class="row">
							<div class="form-group form-inline">
								<label for="selectAkun">Status User : </label>
								<select name="namaAkun" class="form-control form-control-sm ml-3" id="selectAkun">
									<option>Super Admin</option>
									<option>Admin</option>
								</select>
								<button name="filter" type="submit" class="btn btn-sm btn-primary ml-3">Terapkan</button>
							</div>
						</div>
					</div>

				</div>
	
				</fieldset>
			</div>
		</form>
		
		{% if columns %}
		<h5>10 Data Terbaru: {{title}}</h5>
		<table id="followersTable" class="table table-sm table-striped table-bordered">
			<thead>
				{% for col in columns %}
					<th scope="col">{{col}}</th>
				{% endfor %}
			</thead>
			<tbody>
				{% for row in body_table %}
				<tr>
					{% for i in range(row|length) %}
					<td>				
					{% if row[i] == None %}
					{% else %}
					{{row[i]}}
					{% endif %}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<script>
			$(document).ready(function() {
			$('#followersTable').DataTable({
				"bInfo": false
			});
			} );
		</script>
		{% endif %}
			
		{% if tanggal1 %}
		<h5>Jumlah followers akun: {{accName}}</h5>
		<table id="followersTable" class="table table-sm table-striped table-bordered">
			<thead>
				<th scope="col">date</th>
				<th scope="col">followers</th>
			</thead>
			<tbody>
				{% for i in range(date|length) %}
				<tr>
					<td>{{date[i]}}</td>
					<td>
					{% if followers[i] == None %}
					{% else %}
					{{followers[i]}}
					{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<script>
			$(document).ready(function() {
			$('#followersTable').DataTable({
				"bInfo": false
			});
			} );
		</script>
		{% endif %}
			
	</div>

<!-- Button trigger modal -->


	<!-- Modal -->
	<div class="modal fade" id="registerUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Tambah Data User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="far fa-times-circle" style="color: #dc1e3c !important;"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<form method="POST">
							<table class="table table-sm table-borderless">
								<tr>
									<td>Nama:</td>
									<td><input class="form-control form-control-sm" type="text"></td>
								</tr>
								<tr>
									<td>Email: </td>
									<td><input class="form-control form-control-sm" type="email"></td>
								</tr>
								<tr>
									<td>No. Telp:</td>
									<td><input class="form-control form-control-sm" type="text"></td>
								</tr>
								<tr>
									<td>Password: </td>
									<td><input class="form-control form-control-sm" type="password"></td>
								</tr>
								<tr>
									<td>Status User:</td>
									<td>
										<select name="namaAkun" class="form-control form-control-sm" id="selectAkun">
											<option>Super Admin</option>
											<option>Admin</option>
										</select>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Batal</button>
					<button type="submit" class="btn btn-sm btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
    